.header {
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__nav {
    display: flex;
    justify-content: flex-end;
}

.header__list {
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.header__item {
    padding: 1rem;
    font-size: 1rem;
}

.header__link {
    text-decoration: none;
}
